<div class="footer">
    <p>@ Society of Online Education Platform</p>
    <p>Hyderbad,Telangana</p>
</div>
<div class="footer-bot">
    <div class="row">
        <div class="col-md-4">
            <p class="bot-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ducimus illum id, consectetur eveniet eaque aperiam repellat vel mollitia adipisci qui quia, rem, sequi ullam soluta possimus in quibusdam sapiente?</p>
        </div>
        <div class="col-md-4">
                <p class="bot-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ducimus illum id, consectetur eveniet eaque aperiam repellat vel mollitia adipisci qui quia, rem, sequi ullam soluta possimus in quibusdam sapiente?</p>
        </div>
        <div class="col-md-4">
                <p class="bot-p">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus ducimus illum id, consectetur eveniet eaque aperiam repellat vel mollitia adipisci qui quia, rem, sequi ullam soluta possimus in quibusdam sapiente?</p>
        </div>
    </div>
</div>