.form-group{
    margin: 30px !important;
}
.login{
    background: url(../../../assets/images/login.jfif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}